* {
  margin: 0;
}
body {
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* start box  */
.start-box {
  width: 60vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-image: url('assets/hell_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  top: 25vh;
  left: 20vw;
}
.start-button {
  padding: 0.5rem 1rem;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.stop-button {
  padding: 0.5rem 1rem;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  left: 95%;
  top: 10px;
}

/* in-screen button control  */
.buttons-class {
  position: absolute;
  z-index: 1;
  left: 85%;
  top: 75%;
  height: 160px;
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10%;
}
.buttons-class button {
  border-radius: 50%;
  padding: 13px 0;
}
.buttons-class-middle {
  display: flex;
  gap: 20px;
}
.up-down-button {
  width: 50px;
}
.left-right-button {
  width: 50px;
}

.restart-box {
  width: 60vw;
  height: 50vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-image: url('assets/hell_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  top: 25vh;
  left: 20vw;
}
.current-score {
  font-size: 25px;
}

/* play area  */
.playing-area {
  width: 100%;
  height: 100%;
  background-image: url('assets/hell_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  display: none;
}
.score {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

/* game elements  */
.character {
  width: 135px;
  height: 125px;
  position: absolute;
  top: calc(50vh);
  left: calc(50vw - 50px);
}
.character img {
  width: 100px;
  object-fit: contain;
}

.obstacles-horizontal {
  position: absolute;
  width: fit-content;
  height: fit-content;
}
.obstacles-horizontal img {
  width: 40px;
  height: 40px;
}

.obstacles-vertical {
  position: absolute;
  width: fit-content;
  height: fit-content;
}
.obstacles-vertical img {
  width: 50px;
  height: 50px;
}

.obstacle-horizontal-1 {
  opacity: 0;
  transform: translate(0, 20vh);
  animation-name: obstacle-horizontal-1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes obstacle-horizontal-1 {
  0% {
    transform: translate(0, 20vh);
  }
  0.1% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(100vw - 40px), 20vh);
    opacity: 0;
  }
}
.obstacle-horizontal-2 {
  opacity: 0;
  transform: translate(0, 245vh);
  animation-name: obstacle-horizontal-2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes obstacle-horizontal-2 {
  0% {
    transform: translate(0, 45vh);
  }
  0.1% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(100vw - 40px), 45vh);
    opacity: 0;
  }
}
.obstacle-horizontal-3 {
  opacity: 0;
  transform: translate(0, 75vh);
  animation-name: obstacle-horizontal-3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes obstacle-horizontal-3 {
  0% {
    transform: translate(0, 75vh);
  }
  0.1% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(100vw - 40px), 75vh);
    opacity: 0;
  }
}

.obstacle-vertical-1 {
  opacity: 0;
  transform: translate(20vw, 0);
  animation-name: obstacle-vertical-1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes obstacle-vertical-1 {
  0% {
    transform: translate(20vw, 0);
  }
  0.1% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(20vw, calc(100vh - 55px));
    opacity: 0;
  }
}
.obstacle-vertical-2 {
  opacity: 0;
  transform: translate(40vw, 0);
  animation-name: obstacle-vertical-2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes obstacle-vertical-2 {
  0% {
    transform: translate(40vw, 0);
  }
  0.1% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(40vw, calc(100vh - 55px));
    opacity: 0;
  }
}
.obstacle-vertical-3 {
  opacity: 0;
  transform: translate(60vw, 0);
  animation-name: obstacle-vertical-3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes obstacle-vertical-3 {
  0% {
    transform: translate(60vw, 0);
  }
  0.1% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(60vw, calc(100vh - 55px));
    opacity: 0;
  }
}
.obstacle-vertical-4 {
  opacity: 0;
  transform: translate(80vw, 0);
  animation-name: obstacle-vertical-4;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes obstacle-vertical-4 {
  0% {
    transform: translate(80vw, 0);
  }
  0.1% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(80vw, calc(100vh - 55px));
    opacity: 0;
  }
}
